Description: %productname desktop integration
Maintainer: Acca Esse
Architecture: all
Provides: aoohs-desktop-integration,aoohs-unbundled
Conflicts: aoohs-desktop-integration, aoohs-desktop-integration, aoohs-debian-menus
Replaces: aoohs-desktop-integration, aoohs-debian-menus, aoohs-bundled, aoohs-common
